
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150vh;
    width: 100%;
    align-items: 0;
}

.header, .footer{
    background-color: #1f2937;
    font: #e5e7eb;
    font-size: 18px;
    color: white;
    margin: 0;
    width: 100vw;
    padding: 0;
    position: fixed;
    
}
.header{
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: baseline;
    flex-shrink: 0;
}
.subHeader{
    background-color: #1f2937;
    font: #e5e7eb;
    font-size: 18px;
    color: white;
    margin: 0;
    width: 100vw;
    padding: 0;
    margin-bottom: 50px;
}
.top-header{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    margin: 0;
    margin-right: 20px;

}
.logo{
    font-size: 30px;
    margin: 12px;
    font-weight: 900;
    padding-left: 30px;
}
.right-links{
    display: flex;
    justify-content: space-evenly;
    font-weight: 600;
}

.link{
    margin: 10px;
}
.subHeader{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.leftsub{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-bottom: 30px;
    padding-top: 30px;
}
#leftHeaderTitle{
    font-size: 36px;
    font-weight: 750;
}
#headerSubText{
    font-size: 12px;
}

.signupButton{
    font-weight: 800;
    background-color: #3882f6;
    width: 70px;
    display: flex;
    justify-content: center;
    margin: 10px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 4px;
    padding: 2px;
    color: white;
}

.rightsub{
    display: flex;
    align-items: center;
    width: 300px;
    height: 200px;
    background-color: gray;
    margin: 30px;
    justify-content: center;
}
.footer{
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 18px;
    margin: 0;
    bottom: 0;
    position: fixed;
    flex-shrink: 0;
    left: 0;
}

.body-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90vh;

}
.cardHolder, .cardbox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly; 
}

.card{
    width: 200px;
    height:200px;
    border: solid black 6px;
    border-width: 4px;

    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;

}